.info-container{
    font-size: 40px;
    border: 1px solid;
    border-radius: 100%;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    width: 80px;
    text-align: center;
   
}
.info-body{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 50px;
    margin-left: 10px;
}